DATABASE_URL=
# DATABASE_URL="postgresql://<DB_USERNAME>:<DB_PASSWORD>@localhost:5432/<DB_NAME>"
PORT=3000

DO_SPACES_ENDPOINT=
DO_SPACES_REGION=
DO_SPACES_BUCKET=
DO_SPACES_ACCESS_KEY=
DO_SPACES_SECRET_KEY=